<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head.ejs') %>
    <title>Sebastian Braga</title>
    <link rel="stylesheet" href="/css/main/index.css">

</head>

<body>

    <%- include('../partials/header.ejs') %>

    <%- include('../partials/sidemenu.ejs') %>

    <main id="main">

        <section id="about-me" class="about-me">

            <div class="top">

                <div class="text">
                    <div class="about-me"><%- aboutMe %></div>
                    <div class="technologies-top"><%- technologies %></div>
                </div>

                <div class="images">

                    <img class="img1" src="images/img1.jpg">
                    <img class="img2" src="images/img2.jpg">
                    <img class="img3" src="images/img3.jpg">
                    <img class="img4" src="images/img4.jpg">

                </div>

                <div class="technologies-bottom">
                    <div class="technologies"><%- technologies %></div>
                </div>

            </div>

            <div class="contact" id="contact">

                <h2>📧 Get in touch</h2>

                <p class="social">You can find me on
                    <a href="https://github.com/sebastianbragam" target="_blank">GitHub</a>,
                    <a href="https://www.linkedin.com/in/sbragamendez/" target="_blank">LinkedIn</a> and
                    <a href="https://www.instagram.com/sebastianbragam/" target="_blank">Instagram</a>. You can also:
                </p>

                <br />

                <div class="buttons">
                    <a class="button" href="mailto: sbragamendez@gmail.com" target="_blank">Contact me</a>
                    <a class="button" onclick="window.open('documents/Resume-SebastianBraga.pdf')" target="_blank">Get my CV</a>
                </div>

            </div>

        </section>

        <section id="experience" class="experience">

            <h1 class="section-experience">Experience</h1>

            <div class="experience">

                <div class="description" id="sal-des">
                    <p class="title">Saltapor SRL | IT Manager</p>
                    <p class="dates">2018 - 2023 | June 2024 - Present</p>
                    <p class="summary-text"> - Led the implementation of Softland Logic ERP: 8 modules, 30+ processes.
                        <br /> - Softland Logic ERP support and general IT support across 3 companies, 5 physical sites and 100+ users.
                        <br /> - Deployed GLPI for IT inventory/support tracking.
                        <br /> - Supervised infrastructure upgrade: 5 LANs + VPN, Windows domain and antivirus.
                        <br /> - Led 3-person IT team
                    </p>
                </div>

                <br />

                <div class="description" id="pos-des">
                    <p class="title">POSCO Argentina SAU | IT Coordinator</p>
                    <p class="dates">January 2024 - June 2024</p>
                    <p class="summary-text"> - Oversaw implementation of 4 LANs and a secure VPN. Fortinet and Cisco technology.
                        <br /> - Implemented GLPI system to manage IT support + assets.
                        <br /> - General IT support: 200+ users, 4 different physical locations.
                        <br /> - 5-person IT team.
                    </p>
                </div>

            </div>

        </section>

        <section id="projects" class="projects">

            <h1 class="section-projects">My projects</h1>

            <div class="project">

                <p class="title"><a href="https://viverofederal.sebastianbraga.com.ar">Vivero Federal <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
                <p class="text">
                    E-Commerce site which served as the final project created during the Full Stack Web Developer course on Digital House.
                    You can find the repo <a href="https://github.com/sebastianbragam/grupo_10_ViveroFederal">here</a>.
                </p>
                <ul class="technologies">
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>NodeJS</li>
                    <li>Express</li>
                    <li>MySQL</li>
                    <li>APIs</li>
                </ul>

            </div>

            <div class="project right">

                <p class="title right"><a href="https://viverofederal-dashboard.sebastianbraga.com.ar">Vivero Federal Dashboard <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
                <p class="text">
                    The admin dashboard of Vivero Federal E-Commerce, also part of the final project created during the Full Stack Web Developer course on Digital House.
                    You can find the repo <a href="https://github.com/sebastianbragam/grupo_10_ViveroFederal_dashboard">here</a>.
                </p>
                <ul class="technologies right">
                    <li>ReactJS</li>
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>APIs</li>
                </ul>

            </div>

            <div class="project">

                <p class="title"><a href="https://steelpoint.sebastianbraga.com.ar">SteelPoint <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
                <p class="text">
                    SteelPoint E-Commerce, part of the final project created during the ReactJS Developer course on Coderhouse.
                    You can find the repo <a href="https://github.com/sebastianbragam/steelpoint">here</a>.
                </p>
                <ul class="technologies">
                    <li>ReactJS</li>
                    <li>Vite</li>
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>Tailwind CSS</li>
                    <li>Firestore</li>
                </ul>

            </div>

            <div class="project right">

                <p class="title right"><a href="https://github.com/sebastianbragam/SoporTI">SoporTI <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
                <p class="text">
                    An Android app developed using Android Studio which served as the final project for my Computer Science Engineering degree.
                </p>
                <ul class="technologies right">
                    <li>Java</li>
                    <li>XML</li>
                    <li>Firebase</li>
                    <li>NoSQL</li>
                </ul>

            </div>

        </section>

    </main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>